@font-face {
  font-family: "spotify-gotham-normal";
  src: url(./fonts/Gotham-Spotify-Font/Gotham-Black.otf);
}

@font-face {
  font-family: "spotify-gotham-light";
  src: url(./fonts/Gotham-Spotify-Font/Gotham-Thin.otf);
}

@font-face {
  font-family: "spotify-gotham-bold";
  src: url(./fonts/Gotham-Spotify-Font/Gotham-Bold.otf);
}

body {
  margin: 0;
  font-family: "spotify-gotham-bold", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
