#signup_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signup_spotify_icon_container {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}

#signup_spotify_icon_container svg {
  height: 3rem;
  width: auto;
}

#signup_form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

#signup_form_container > form {
  width: 70%;
  display: flex;
  flex-direction: column;
  font-size: small;
}

#signup_form_heading {
  font-size: medium;
  text-align: center;
}

.signup_form_field_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px 0;
}

.signup_form_field_container input {
  font-size: normal;
  height: 2rem;
  font-family: "spotify-gotham-bold";
}

#signup_form_consent_checkbox {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 8px 0;
  font-family: "spotify-gotham-light";
  font-weight: 900;
}

#signup_form_consent_checkbox input {
  margin-right: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4rem;
  gap: 8px;
  padding: 10px 0;
}

footer span {
  display: block;
  text-align: center;
  font-family: "spotify-gotham-light";
  font-weight: 900;
  font-size: smaller;
}

#signup_form_submit_button {
  text-align: center;
  height: 4rem;
}

#signup_form_submit_button button {
  all: unset;
  text-decoration: unset;
  width: 38%;
  height: 3.5rem;
  text-align: center;
  border: 1px solid silver;
  color: black;
  border-radius: 1.75rem;
  cursor: pointer;
  font-size: 18px;
  background-color: #1ed760;
  transition: all 0.1s ease-in-out;
}

#signup_form_submit_button button:hover {
  height: 3.7rem;
  width: 39%;
  font-size: 20px;
  align-self: center;
}

#signup_form_login_link_span {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  justify-content: center;
  text-align: center;
}
